<article class="content-container">
  <header class="header">
    <h3 class="title">
      <span class="icon glyphicon glyphicon-cog"></span> Inställningar
    </h3>
  </header>
  <section class="content">
    <div id="coon-settings">
      <div class="checkbox">
        <label>
           <!-- <input type="checkbox" checked={{if model.navbarEnabled "checked"  ""}} onchange={{action "saveSettings"}}> -->
           {{input type="checkbox" checked=model.navbarEnabled change=(action "saveSettings")}}
           Coon navbar
        </label>

        <div class="sub-settings">
          <label>
            {{input type="checkbox" checked=model.rememberLastPageEnabled change=(action "saveSettings")}}
            Kom ihåg senaste sidan
          </label>
        </div>

        <div>
          <label>
            {{input type="checkbox" checked=model.keepMeLoggedInEnabled change=(action "saveSettings")}}
            Håll mig inloggad
          </label>
        </div>

        <div>
          <label>
            {{input type="checkbox" checked=model.journalCommentAutoEnabled change=(action "saveSettings")}}
            Sätt på Patientens kommentarer automatiskt
          </label>
        </div>
      </div>
      {{#if showErrorMessage}}
      <div style="height: 70px">
        <div class="alert alert-warning" id="message" role="alert">
          <h4>Inställningarna har sparats!</h4>
          Ladda om Journalen-sidan för att ändringarna ska slå genom.
        </div>
      </div>
      {{/if}}

    </div>
  </section>
</article>
